html {
  background-color: #b0c4de;
  font-family: "Roboto Mono", monospace;
}

.shadowBox {
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#introText {
  margin-top: 14px;
  margin-bottom: 24px;
}

h1 {
  margin-bottom: 10px;
}

#githubicon {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 10vw;
  top: 40px;
  transition: 1.5s;
  z-index: 0;
  background-color: transparent;
  border-radius: 30px;
}

#timer {
  margin-top: 0;
  margin-bottom: 2px;
  text-align: center;
}

#githubicon:hover {
  transform: translateY(-5px);
  background-color: linen;
}

#homeIcon {
  position: absolute;
  top: 40px;
  left: 10vw;
  width: 60px;
  height: 60px;
  transition: 1.5s;
  z-index: 0;
  background-color: transparent;
}

#homeIcon:hover {
  transform: translateY(-5px);
}

h1 {
  font-size: 4vh;
  margin-left: 10px;
}

h3 {
  margin-top: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#difficultySelect {
  display: flex;
  margin-bottom: 34px;
}

label:not(#timerLabel) {
  font-size: x-large;
  padding-left: 5px;
  margin-right: 20px;
}

input[type="radio"] {
  margin-right: 0;
  width: 25px;
  height: 25px;
}

input[type="checkbox"] {
  margin: 0;
}

#timerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#timerLabel {
  font-size: 1.1em;
  padding-left: 0px;
}

#hideTimer {
  height: 17px;
  width: 17px;
}

#hideTimerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 860px) {
  input[type="number"] {
    width: 49px !important;
    height: 49px !important;
    padding: 0;
  }

  .oddRight {
    width: 51px;
  }

  .strangeRight {
    width: 53px;
  }

  textarea {
    width: 33px !important;
    height: 12px !important;
  }

  .noteOpenDiv {
    margin-left: 40px !important;
  }

  #toggleSize {
    display: none;
  }
}

.textInputToggle {
  width: 49px !important;
  height: 49px !important;
  padding: 0;
}

.oddRightToggle {
  width: 51px;
}

.strangeRightToggle {
  width: 53px;
}

.textareaToggle {
  width: 33px !important;
  height: 12px !important;
}

.noteOpenDivToggle {
  margin-left: 40px !important;
}

.rightBorder {
  border-right: 4px solid black !important;
}

.bottomBorder {
  border-bottom: 4px solid black !important;
}

input[type="number"]:focus,
input[type="number"]:hover {
  background-color: rgb(159, 205, 243) !important;
}

.entryRow {
  display: flex;
}

input[type="number"] {
  border: 1px solid black;
  width: 65px;
  height: 65px;
  text-align: center;
  font-size: xx-large;
  background-color: aliceblue;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.hide {
  display: none !important;
}

.invsible {
  visibility: hidden !important;
}

#updateText {
  font-size: small;
  margin-top: 10px;
}

textarea {
  width: 50px;
  height: 15px;
  resize: none;
  overflow: hidden;
  z-index: 3;
}

.opaque {
  opacity: 1 !important;
}

.entryDiv {
  display: grid;
}

.noteOpenDiv {
  margin-left: 57px;
}

input[type="number"],
textarea,
.noteOpenDiv {
  grid-column: 1;
  grid-row: 1;
}

span:not(#modal-message, #close-button) {
  z-index: 2;
  opacity: 0;
  position: absolute;
  transition: opacity 150ms;
}

span:not(#modal-message):hover {
  cursor: pointer;
}

#modal-message {
  font-size: x-large !important;
}

input[type="radio"]:hover + label:not(.noHover) {
  color: cadetblue;
}

#usedNums {
  display: inline-flex;
}

.used {
  margin-left: 10px;
}

#btns {
  width: fit-content;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.btn {
  border: 1px solid black;
  border-radius: 7px;
  text-align: center;
  margin-top: 25px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  width: 130px;
  height: 65px;
}

.btn:hover {
  cursor: pointer;
  background-color: #ddd;
}
