@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");


html {
	background-color: cornsilk;
	font-family: "Orbitron", sans-serif;
}

#githubicon {
	width: 60px;
	height: 60px;
	position: absolute;
	right: 10vw;
	top: 40px;
	transition: 1.5s;
	z-index: 0;
	background-color: transparent;
	border-radius: 30px;
}

#githubicon:hover {
	transform: translateY(-5px);
	background-color: azure;
}

button {
	margin-top: 25px;
	margin-right: 20px;
	margin-bottom: 20px;
	font-family: "Orbitron", sans-serif;
	font-size: x-large;
	width: 150px;
	height: 75px;
}

button:hover {
	cursor: pointer;
	background-color: #ddd;
}

h1 {
	font-size: 4vh;
	margin-left: 10px;
	margin-bottom: 5px;
}

body {
	margin-left: 10vw;
	margin-top: 5vh;
}

#difficultySelect {
	display: flex;
	margin-bottom: 15px;
}

label {
	font-size: x-large;
	padding-left: 5px;
	margin-right: 20px;
}

input[type="radio"] {
	margin-right: 0;
	width: 25px;
	height: 25px;
}

@media screen and (max-width: 860px) {
	input[type="text"] {
		width: 45px !important;
		height: 45px !important;
	}

	.oddRight {
		width: 51px;
	}

	.strangeRight {
		width: 53px;
	}
}

.rightBorder {
	border-right: 4px solid black !important;
}

.bottomBorder {
	border-bottom: 4px solid black !important;
}

input[type="text"]:focus,
input[type="text"]:hover {
	background-color: rgb(159, 205, 243) !important;
}

.entryRow {
	display: flex;
}

input[type="text"] {
	border: 1px solid black;
	width: 65px;
	height: 65px;
	text-align: center;
	font-size: xx-large;
	background-color: aliceblue;
}

.hide {
	display: none;
}

a {
	text-decoration: none;
	margin-bottom: 10px;
	font-size: 1.1rem;
}

a:hover {
	color: cadetblue;
}

#updateText {
	font-size: small;
	margin-top: 10px;
}

#alertshader {
	z-index: 98;
	position: fixed;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

#alert {
	z-index: 99;
	text-align: center;
	border-radius: 5px;
	box-shadow: inset 0px 0px 0px 4px black;
	margin-left: 35vw;
	margin-top: 15vh;
	background-color: azure;
	width: 350px;
	height: 15vh;
}

#alertmessage {
	z-index: 99;
	vertical-align: middle;
	font-family: "Orbitron", sans-serif;
	font-size: x-large;
	line-height: 15vh;
}

textarea {
	width: 50px;
	height: 50px;
	resize: none;
	z-index: 3;
}

.opaque {
	opacity: 1 !important;
}

.entryDiv {
	display: grid;
}

.noteOpenDiv {
	margin-left: 57px;
}

input[type="text"],
textarea,
.noteOpenDiv {
	grid-column: 1;
	grid-row: 1;
}

span:not(#alertmessage) {
	z-index: 2;
	opacity: 0;
	position: absolute;
	transition: opacity 150ms;
}

span:not(#alertmessage):hover {
	cursor: pointer;
}

input[type="radio"]:hover+label:not(.noHover) {
	color: cadetblue;
}

#links {
	display: inline-block;
}

.link {
	display: table;
}

#usedNums {
	margin-left: 40px;
}

#boards {
	display: flex;
	flex-direction: row;
}